<%- include("partials/header") %>

<h1>COMPOSE</h1>
<form action="/compose" method="post">
    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" name="inputTitle" size="150" required>
    </div>
    <div class="form-group">
      <label>Post</label>
      <textarea class="form-control" name="inputBody" id="" cols="150" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Publish</button>
  </form>






<!-- 
Lorem ipsum dolor sit amet consectetur adipisicing elit. Id voluptates assumenda vitae nemo architecto delectus temporibus voluptas reiciendis facilis aliquid fugiat eaque, incidunt reprehenderit inventore vero amet, obcaecati optio odit dignissimos quis corrupti! Cupiditate numquam unde inventore distinctio animi rem error nesciunt, nobis tenetur iure. Aliquam voluptas odio dignissimos voluptatem iste illum corrupti excepturi laborum inventore nesciunt temporibus consectetur, sunt totam a consequuntur facere, dicta dolor ea. Deserunt perferendis, veritatis tempora molestiae sequi doloremque. Minima neque optio omnis molestiae eos harum quibusdam placeat sint quia autem quod recusandae, alias minus reiciendis sunt labore ipsum similique ab ratione. Ipsa, quos molestiae? -->



<%- include("partials/footer") %>
